# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# dependencies
mobile-app/node_modules/

# Expo
mobile-app/.expo/
mobile-app/dist/
mobile-app/web-build/
mobile-app/expo-env.d.ts

# Native
mobile-app/.kotlin/
mobile-app/*.orig.*
mobile-app/*.jks
mobile-app/*.p8
mobile-app/*.p12
mobile-app/*.key
mobile-app/*.mobileprovision

# Metro
mobile-app/.metro-health-check*

# debug
mobile-app/npm-debug.*
mobile-app/yarn-debug.*
mobile-app/yarn-error.*

# macOS
mobile-app/.DS_Store
mobile-app/*.pem

# local env files
mobile-app/.env*.local
mobile-app/.env*

# typescript
mobile-app/*.tsbuildinfo

# example folder
mobile-app/app-example

# generated native folders
mobile-app/ios
mobile-app/android

# Arduino gitignore
arduino/.pio
arduino/.vscode/.browse.c_cpp.db*
arduino/.vscode/c_cpp_properties.json
arduino/.vscode/launch.json
arduino/.vscode/ipch
